<footer id="footer">
    <nav>
        <ul>
            <li><span></span></li>
            <li>
                <a href="https://cleverpush.com/imprint/" target="_blank">Imprint</a>
            </li>
            <li>
                <a href="https://cleverpush.com/privacy" target="_blank">Privacy policy</a>
            </li>
            <li>
                <a href="https://cleverpush.com/terms" target="_blank">Terms of service</a>
            </li>
        </ul>
    </nav>
    <p>Copyright &copy; 2020 CleverPush.</p>
</footer>
