{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <p>{{.Description}}</p>
  </div>

  <div id="components">
    <h3>Web Push</h3>
    <div class="row gutters text-center">
      <div class="col col-12 item">
        <i class="fab fa-js fa-4x"></i>
        <h4>
          <a href="/sdks/javascript">Javascript SDK</a>
        </h4>
      </div>
    </div>

    <h3>App Push</h3>
    <div class="row gutters text-center">
      <div class="col col-3 item">
        <i class="fab fa-apple fa-4x"></i>
        <h4>
          <a href="/sdks/ios">iOS SDK</a>
        </h4>
      </div>
      <div class="col col-3 item">
        <i class="fab fa-android fa-4x"></i>
        <h4>
          <a href="/sdks/android">Android SDK</a>
        </h4>
      </div>
      <div class="col col-3 item">
        <img src="/img/capacitor.svg" style="height: 64px" />
        <h4>
          <a href="/sdks/capacitor">Capacitor SDK</a>
        </h4>
      </div>
      <div class="col col-3 item">
        <img src="/img/cordova.png" style="height: 64px" />
        <h4>
          <a href="/sdks/cordova">Cordova SDK</a>
        </h4>
      </div>
      <div class="col col-3 item">
        <i class="fab fa-react fa-4x"></i>
        <h4>
          <a href="/sdks/react-native">React Native SDK</a>
        </h4>
      </div>
      <div class="col col-3 item">
        <img src="/img/xamarin.png" style="height: 64px" />
        <h4>
          <a href="/sdks/xamarin">Xamarin SDK</a>
        </h4>
      </div>
      <div class="col col-3 item">
        <img src="/img/flutter.png" style="height: 64px" />
        <h4>
          <a href="/sdks/flutter">Flutter SDK</a>
        </h4>
      </div>
    </div>
  </div>
  </div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
